<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/raj/IdeaProjects/DevopsDrive">
        <classes>
            <class name="Test.Test_01_GoogleTitle">
                <methods>
                    <include name="testGoogleTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>